[2019-08-06 19:43] OR13 opened #1 "[did-configuration] Provide complete JWT examples"
Can use https://github.com/decentralized-identity/lds-ecdsa-secp256k1-2019.js/tree/master/packages/es256k-jws-ts

All JWTs should be verifiable, and all properties should be defined.

[2019-08-06 19:48] OR13 commented on #1
I think the top level JWT should be sign-able by non DIDs.

[2019-08-06 22:28] OR13 commented on #1
Implemented a demo: https://github.com/decentralized-identity/well-known/pull/2

decided not to sign the top level object.

[2019-08-07 00:13] ipatka commented on #1
Nice! I reviewed the implementation and I was able to run the demo locally
<img width="577" alt="Screen Shot 2019-08-06 at 7 52 20 PM" src="https://user-images.githubusercontent.com/4401444/62585118-39b78380-b885-11e9-902b-9a73dfc95821.png">
![Screen Shot 2019-08-06 at 7 52 14 PM](https://user-images.githubusercontent.com/4401444/62585119-39b78380-b885-11e9-8745-e4e767d235b6.png)

What do you mean

[2019-08-07 16:49] OR13 commented on #1
awesome!

The claim in the JWT has a domain field. here is some pseudo code explaining how verification should work.

[code]

[2019-08-07 17:33] ipatka commented on #1
Oh I see. What if on the client side it just checked if verified.domain matches window.location.hostname?

[2019-08-07 18:26] OR13 commented on #1
Thats a good idea for self requests, but the client is always going to need to trust its own web server, and this spec should theoretically support CORs, where:

example.com has DIDs and can trust api.example2.com's DIDs.

the origin of a well-known did config should be present in each of the claims as the domain field.

That way 2 servers can use this for mutual auth if they wanted to.

[2019-08-08 14:21] OR13 commented on #1
I'm gonna close this now that the example is merged. Feel free to open new issues with concerns / questions/

[2019-08-08 14:21] #1 closed

[2019-08-08 14:23] OR13 opened #3 "Add did:web example"
I think that this repo can be used to test `did:web`, it would be awesome to get an example commited.

@pelle @awoie Can one of you link me to a did:web example, I will add it here, and back link to whatever you wish.

[2019-08-08 14:26] OR13 opened #4 "Update DNS to well-known.identity.foundation"
Add a CNAME to DNS provider for identity.foundation.

well-known.identity.foundation -> decentralized-identity.github.io

Update ./docs/CNAME to match.

Rebuild and publish website to fix DNS.

[2019-08-08 16:59] OR13 opened #5 "Fix demo to use "entries""
currently it uses the word "claims"

[2019-08-08 17:00] OR13 opened #6 "Update "claim" to "domain" in JWT Spec"

[2019-08-16 17:09] OR13 opened #7 "[did-configuration] Company vs Customer / Account DIDs"
Its possible to use the `.well-known/did-configuration` to expose DIDs for the domain, that are "Company" DIDs, but its also possible for it to be "Customer" DIDs, or user DIDs...

The question here is about providing guidance on what kinds of DIDs should be associated with a domain.

It seems like we should take an authoritative stance, that this uri is not to be used for customer or user account

[2019-08-16 17:10] OR13 commented on #7
I suggest we add some specific language to the spec advising domain controllers to not automatically register DIDs on behalf of domain users here.

If that is a desirable feature, I believe it should be exposed using webfinger instead, since that is a well known uri that is built for discovering users of a domain.

[2019-08-16 18:30] peacekeeper commented on #7
+1 domain controllers must not automatically register DIDs on behalf of domain users.

The spec can still be used for person DIDs if you "own" (=rent) your own (sub-)domain name, e.g. `alice.name` or `alice.company.com`.

[2019-08-18 07:17] tplooker opened #8 "Query: Secure Validation of DID-to-Domain Linkage"
In this [section](https://github.com/decentralized-identity/well-known/tree/master/did-configuration#secure-validation-of-did-to-domain-linkage) it speaks of a trusted browser based API being invoked to validate the QR content prior to display for scanning via the identity wallet. Because the scanning is still an extra step, shouldn't the Identity Wallet instead being doing this validation on the

[2019-08-18 07:17] tplooker commented on #8
@csuwildcat tagging you as you might be able to clarify?

[2019-08-18 13:07] csuwildcat commented on #8
The wallet app on a phone, a different device with no code context relationship awareness, cannot validate that the QR code it read is linked to the domain origin of the page. Only the browser that controls displaying can. Trusted UI is a type of presentation that a page cannot fake, due to use of browser 'chrome' (the parts of the browser, e.g. address bar, it has no access to). This trusted UI i

[2019-08-18 21:53] tplooker commented on #8
Thanks, granted, the wallet app cannot validate the QR code against the origin of the page that rendered it for reasons you described above, however it can still validate the QR codes content was signed by a DID and then discover that DIDs association to a domain.

A couple more questions on this
- What is there to prevent bypassing the usage of the trusted API and instead just rendering the QR co

[2019-08-18 22:06] csuwildcat commented on #8
1) There's nothing to prevent a page from trying to mimic trusted UI
appearances within the content viewport, but they never look the same as
what a browser can do - which is the point of a UI that exists outside the
reach of the page. This is what gates geolocation, camera access, and other
invocations.

2) It's not about the wallet validating the payload, which would happen
regardless, it's abou

[2019-08-18 22:30] tplooker commented on #8
Ok cool I understand this now, thanks for the clarification.

[2019-08-18 22:30] #8 closed

[2019-09-04 15:38] csuwildcat opened #9 "Flesh out the addition of a `primary` flag to designate a main DID"
I have added the general concept to the spec, at the entry level, but we need to decide on a few things:

1. Do we recognize multiple `primary` references?
2. If we do not allow multiple references (my preference) how do we disregard multiple references present? I would argue we honor the one that is found first in a standard JSON parse/iteration of the object.
3. Do we need to include a reference

[2019-09-04 15:57] OR13 commented on #9
1 + 2: I think its best that we use a priority system (integer) vs boolean, and when duplicates exist the first one is chosen.

3. I think its best NOT to put the primary binding info in the token, because an admin may want to rotate primary, and would not be able to do so if the value were in the token. (consider dynamic loadbalancing, etc...)

[2019-09-04 15:59] OR13 commented on #9
I also think this concept should be explicit, building logic around the order of objects in JSON is a bad practice IMO, explicit object properties are prefered.

[2019-09-06 20:50] OR13 opened #10 "JSON-LD: application/ld+json vs .well-known"
Its worth noting that JSON-LD has some opinions about well-known URIs... apparently they don't like them, and prefer to use HTTP headers...

https://web-payments.org/specs/source/secure-messaging/#the-key-registration-process

https://json-ld.org/spec/latest/json-ld-api-best-practices/#use-json-ld

Personally, I'm a bigger fan of well-known URIs than varying responses based on headers, especially

[2019-09-06 21:51] peacekeeper commented on #10
I don't think it's right to say that JSON-LD doesn't like .well-known URIs. I think it depends on the situation. I wouldn't interpret those links as saying that we can't use .well-known for discovering a DID from an HTTP URL.

[2019-09-09 17:03] csuwildcat opened #11 "Be specific about Base64 encoding - needs to be Base64 URL encoding"

[2019-09-09 17:10] csuwildcat opened #12 "Change placeholder for JWT value to JWT_VALUE"

[2019-09-09 17:25] csuwildcat opened #13 "Remove mention of subdomain mentions, and clarify the relationship between TLD/subs"

[2019-09-19 21:37] csuwildcat commented on #12
Addressed in latest commit: https://github.com/decentralized-identity/well-known/commit/eab39413b9b22548760255281fda80ecf38f074c

[2019-09-19 21:37] #12 closed

[2019-09-19 21:37] csuwildcat commented on #9
Removed for now, addressed in latest commit: https://github.com/decentralized-identity/well-known/commit/eab39413b9b22548760255281fda80ecf38f074c

[2019-09-19 21:37] #9 closed

[2019-09-19 21:37] csuwildcat commented on #13
Addressed in latest commit: https://github.com/decentralized-identity/well-known/commit/eab39413b9b22548760255281fda80ecf38f074c

[2019-09-19 21:37] #13 closed

[2019-09-19 22:37] OR13 commented on #11
I think this is implied by the use of JWT/JWS. but its probably a good idea to double check.

[2019-09-19 22:44] OR13 opened #14 "Reduce to ReSpec Only"
We have a lot of duplicate markdown / respec like stuff.

We need to move everything that is "spec like" from:

https://github.com/decentralized-identity/.well-known/blob/master/resources/did-configuration/demo/README.md

into:

https://github.com/decentralized-identity/.well-known/blob/master/resources/did-configuration/index.html

The demo README should just point to the spec and describe develo

[2019-09-19 22:44] OR13 commented on #14
I'd rather not make the call of what to delete, since @csuwildcat wrote most of this. I'm assigning you.

[2019-09-19 22:48] csuwildcat commented on #14
I think we should just blow away all the spec/definitional content from the readme and leave the readme to be about the setup/developer instructions you added to it. This way the spec is all the spec stuff, and this turns into the dev side of how to install/run the required bits.

[2019-09-19 22:54] #6 closed

[2019-09-19 22:54] #5 closed

[2019-09-19 22:55] OR13 commented on #4
chose to just use `.well-known` repo name, so it can be cloned.

[2019-09-19 22:55] #4 closed

[2019-09-19 23:08] OR13 commented on #14
I'm fine with doing that, I just want to make sure that if there is any copy that is in markdown that is valuable, we don't just loose it.

[2019-09-19 23:12] OR13 commented on #10
@peacekeeper thanks for your comments on this.

We decided to specifically not make the `did-configuration.json` jsonld (we use an array of objects and we rely on the order of the array).

I think this issue is less relevant now that the file is explicitly not jsonld.

I'm gonna close, for now.

[2019-09-19 23:12] #10 closed

[2019-09-20 13:56] awoie opened #15 "Support for virtual hostnames"
Could you add support for multiple hostnames, or if the intention was to support that, to make that explicit.

[2019-09-20 13:58] awoie opened #16 "Unclear which verification method is used"
I assume that the idea is to use the `authentication` section and in particular any of the verification methods included in it to verify the JWT? It is not explicitly stated which part to use. We should stick with the DID spec terminology.

[2019-09-20 14:02] awoie opened #17 "Unclear when verification stops and when verification was successful"
The entry array supports multiple DIDs. It is unclear when the verification process stops. A few questions that I have:

- Does the verification stop when any of the entries was failed to verify? That might be an issue in case virtual hostnames are supported.

- Does the verification stop when the first entry was successfully verified?

- Can the verifier choose which entry to pick first, i.e., wh

[2019-09-20 15:02] csuwildcat commented on #17
Each DID assertion is intended to be verified on a per entry basis, so one failing only means that the assertion that failed or was malformed is dropped/errors.

[2019-09-20 15:03] csuwildcat commented on #16
Yes, this was the intent - care to add the language specifics that you feel would make this more accurate?

[2019-09-20 15:05] csuwildcat commented on #15
Can you expound upon what that would look like? The connection between each assertion and the domain was expected to be 1:1, with all assertions linking to only the domain under which the resource is located.

[2019-09-20 15:19] OR13 commented on #15
I think this feature request is to update the domain to an array:

[code]

Then:

https://example.com/.well-known/did-configuration.json
https://app1.example.com/.well-known/did-configuration.json

I would expect the token to be present in both `entries` if the token contained such as claim.

The benefit of this approach would be that a DID controller could make a single jwt which covered all the

[2019-09-20 15:22] OR13 commented on #16
The current implementation uses the `publicKey` field of a DID, it SHOULD use the `authentication` section. The current implementation is not correct. Thanks for pointing this out.

[2019-09-20 15:23] OR13 commented on #16
we should be iterating `authentication` not `publicKey`, if the `authentication` value contains a key linked in the `kid` we are good. if it contains a pointer to a key listed in `publicKey` we need to use that.

[2019-09-20 15:25] OR13 commented on #17
We need to explicitly define verification in the spec. the end result of completing a verification of a `did-configuration` is a list of DIDs that passed and a list that failed. its up to the verifier to decide which DIDs they want to work with, they should not use DIDs who failed verification.

[2019-09-20 15:44] csuwildcat commented on #17
The resource is a list of independent assertions of linkage of a DID to a domain, thus there is no assumption that all entries must validate for the resource to be deemed valid. I have added language to clarify this and specify what to do in the case a single item is processed and found to be invalid.

To elaborate on the practical, the resource itself may be prefetched and held by the requester u

[2019-09-20 15:52] csuwildcat commented on #16
I left step 6 unspecific about how you validate the DID signature, because I wasn't sure exactly what level of detail we needed to go into. Isn't there somewhere we can just punt to in the DID spec and related references that already talks about how to validate a DID signature?

[2019-09-20 16:24] csuwildcat commented on #15
Oh, I didn't realize what he was saying at first, but yeah, I think we should avoid this for a variety of reasons, including the complexities you note here.

[2019-09-22 22:20] tplooker opened #18 "Bi-directional statement in abstract"
In the abstract of the current spec, the following statement is made

[code]

Can we clarify further what is meant by this? This implies you can start with a did and discover associated domains from it? That may just be my interpretation but to be clear, the current design does not allow this?

[2019-09-22 22:25] tplooker commented on #18
Re-reading this I understand the intent further now. The resource provides the linkage, between these two identifiers. However how the resource is discovered/deferenced relies on the prior knowledge of the domain, you cannot start with just the did and discover this resource unless it was embedded in a did document?

[2019-09-22 22:26] csuwildcat commented on #18
The bi-directional relationship is the association created by the signing of the DID owner over the domain string, and the domain owner placing it at the designated origin. It never says anything about discovery, so I'm not sure how that's being read into the non-normative Abstract language.

[2019-09-23 08:25] awoie commented on #17
That sounds good! From my perspective, the issue can be closed.

[2019-09-23 08:36] awoie commented on #17
I looked at the current version and the spec is fine by me.

[2019-09-23 08:54] #17 closed

[2019-09-23 08:56] csuwildcat commented on #15
Closing, as this behavior is intentionally disallowed.

[2019-09-23 08:56] #15 closed

[2019-09-23 08:57] csuwildcat commented on #7
I agree with this, and will add a note to the spec for guidance.

[2019-09-23 14:37] peacekeeper commented on #18
Our [DNS-DID spec](https://datatracker.ietf.org/doc/draft-mayrhofer-did-dns/) mentions the possibility of a "backreference to the DNS domain name". I agree that this is not really needed and that the bi-directional relationship can be proven with a signature, as explained by @csuwildcat.

I haven't heard of any use case where actual discovery of a domain name from a DID is needed, do you have one

[2019-09-23 15:02] OR13 commented on #18
Yes, we should add clarifying language regarding discovery.

You can discover associated DIDs from the domain, but not domains from a particular DID.

[2019-09-23 17:07] OR13 commented on #3
Per comments from @awoie Added example: https://github.com/decentralized-identity/.well-known/commit/3e08219cc7bff24082675188fabcb20d9fb9cec3

[2019-09-23 17:31] awoie commented on #3
@OR13 did:web uses the old `owner` syntax. that needs to be fixed. the other two public keys don't have an `owner` attribute. you might need to fix that.

[2019-09-23 17:51] awoie commented on #3
looks good now!

[2019-09-23 17:51] #3 closed

[2019-10-02 18:54] csuwildcat opened #19 "Add 307 redirect convention to allow subdomains to defer to base domain"

[2019-10-03 08:47] ptinson-mattr commented on #11
It is implied, perhaps just remove the base64 comment and state it must be a valid JWT as defined in https://tools.ietf.org/html/rfc7519? Thoughts.

[2019-10-07 17:23] csuwildcat commented on #14
I think this is done, right?

[2019-10-07 18:03] csuwildcat commented on #19
@OR13 any input, or is that last change good to address the use case the folks at IIW presented?

[2019-10-10 22:11] OR13 commented on #19
I'm not sure about this. It feels like this will widen attack surface. I think I prefer a separate well known uri for subdomains.

[2019-10-10 22:12] OR13 commented on #14
yes I think so. There is some leftover readme content in the demo folder: https://github.com/decentralized-identity/.well-known/tree/master/resources/did-configuration/demo

but I think thats ok, closing for now.

[2019-10-10 22:12] #14 closed

[2019-10-15 23:17] #11 closed

[2019-10-15 23:17] #18 closed

[2019-10-15 23:26] tplooker commented on #16
@OR13 @awoie @csuwildcat I believe the latest version of this spec may address this issue?

[2019-10-15 23:39] OR13 commented on #16
I agree, spec is now up to date, but demo needs to be updated.

[2019-10-16 14:57] csuwildcat commented on #19
Redirection language has been removed, as this is not in scope for the initial 0.1.0 publication goal. There were some security issues called out that would need to be revisited, if we desired to pursue this in a future revision of the spec. Removed language can be viewed here: https://github.com/decentralized-identity/.well-known/compare/97d95aa24522...8c59db817382

[2019-10-16 14:57] #19 closed

[2019-10-23 20:20] OR13 commented on #16
^ there is some discussion on https://github.com/digitalbazaar/encrypted-data-vaults/issues/5 of how other properties in the DID Document may be used, I could see future support for more specific proof purposes, but I don't think this is a blocker for the spec.

[2019-11-13 10:15] vongohren opened #23 "Unclear why the domain is part of the JWT, and why it is called JWT and not proof?"
I just read the spec: https://identity.foundation/specs/did-configuration/

And it was unclear to me what the value of domain is in the claim. Or where the JWT is issued from?

Will it be the users of that did entry who signs of a JWT or something else?
The domain is there to match the domain the well-known is under?
Because this well-known document will be built up by the domain owner so he will

[2019-11-13 14:43] OR13 commented on #23
yes, the domain controller and the DID controller both have to coordinate to put a JWT int he correct spot.

[2019-11-13 16:11] csuwildcat commented on #23
If the domain wasn't in the claim, there wouldn't be any proof that the controller of the DID in question intended to link their control of their DID to their control of the domain under which the well-known resource resides.

[2019-11-13 16:15] csuwildcat commented on #23
The property was named `jwt` to be specific to the type of proof value, just in case the assertion object definition is ever expanded to include other types of proof values. Being specific also allows the consuming developer to invoke the proper code to evaluate the type of proof described, vs having to sniff the object to detect what type it might be before evaluating.

[2019-11-14 11:23] vongohren commented on #23
Thanks for that clarifying information, it does makes sense :)

[2020-01-06 20:45] tplooker commented on #23
@vongohren are you happy to close this issue?

[2020-01-06 21:05] Cahl-Dee opened #25 "Add Support For Linked Data Proofs"
This Well Known DID Configuration implementation addresses a particular need that we at Factom Inc are working to solve in a customer implementation. We appreciate all those that have put their time into publishing this specification.

Our implementation, and I can imagine that of others, will be tightly related to our Verifiable Credentials solution. In our VC solution, the credentials and presen

[2020-01-06 21:40] OR13 commented on #25
Adding support for JSON-LD based VCs would not be hard, and we (Transmute) need to do this in order to use this technology for our needs as well.

In the current spec, the JWT is an assertion of "sameness" its presence is meant to convey that that the issuer and the domain operator wish to communicate that they are the same entity.

We would need to create json-ld context file for the well-known-d

[2020-01-06 22:09] Cahl-Dee commented on #25
Hi @tplooker, thanks for the feedback.

This is exactly right. We (Factom Inc) are an organization that meets this criterion. Everything about the Well Known DID Configuration meets our (well, as a product manager, my) requirements except for the all-important re-use of existing infrastructure.

I would be surprised if we were the only organization in this boat, suggesting that you will see greate

[2020-01-06 22:16] tplooker commented on #25
Great thanks for your clarification around what your preferred option would be and I do understand the strong desire to re-use infrastructure when and where we can.

I think the important implication of option 1 is that consumers of did configuration resources would then have to support verification of both JWTs and JSON-LD based assertions if that makes sense? Put another way option 1 simplifies

[2020-01-06 22:49] OR13 commented on #25
Yes, and since JWTs are a valid format per the VC Data Model spec, this is really just saying "We support the VC Data Model"

https://www.w3.org/TR/vc-data-model/#json-web-token

https://www.w3.org/TR/vc-data-model/#linked-data-proofs

[2020-01-06 22:52] tplooker commented on #25
True but our assertion format does not currently conform to the JWT VC format, e.g the "domain" claim is at the root of the JSON object rather than inside a nested object with key "vc". Do we want the assertions in this spec to be valid verifiable credentials?

[2020-01-06 22:53] OR13 commented on #25
I think we probably do.

[2020-01-06 22:54] tplooker commented on #25
I agree with semantic web technologies being invaluable in many instances i'm just un-ware of what added benefit other than infrastructure re-use there would be to making the assertion formats JSON-LD?

[2020-01-06 23:07] csuwildcat commented on #25
I prefer to keep the spec constrained to the simpler format, given its scope, but it isn't a hill I will die on, so whatever you all decide I can probably get behind. As far has how we could add it, I'll note that the current spec includes JWTs in the assertion object via the `jwt` property, thus we could create another property called `vc` and enable this without having to introduce sniffing of a

[2020-01-06 23:11] OR13 commented on #25
Its making them support the VC Data Model.

Its trivial to do, and since many in the community want to use DIDs and VCs together, should we not support a way for both semantically ambiguous and semantically unambiguous technology providers to assert sameness of a domain controlling entity and a DID controller?

If the desire is to not support semantic web, then one need only format their JWT in a

[2020-01-06 23:23] OR13 commented on #25
There is also a bit of following the herd here, currently the approach appears to be:

JSON-LD is used in:

- VC Data Model Spec
- DID Spec
- VC JSON Schema Spec

In pretty much all cases, we have taken the approach of the spec authors are responsible for ensuring JSON-LD is used properly, while other editors, contributors focus more on the part of the spec they care about.

I feel like thats fine

[2020-01-06 23:58] OR13 commented on #25
After thinking about this a bit more, I think its fine to support a mix of both JWT and Linked Data Proof VCs.

Clients that can't understand linked data proofs would not support the linked dids... and vice versa.

This would be helpful since many DID Methods today appear to support Linked Data, but do not actually work with it, and companies using such DIDs have no actual way of expressing their

[2020-01-07 02:48] tplooker commented on #25
Im with @csuwildcat in that I lean towards the simpler option (JWT only) in this instance, however I'm also not willing to die on that hill either. If we feel that the added complexity for consumers of did configuration resources having to support verifying multiple assertion types is justified because we want the assertions to be valid vc's them I'm happy to explore that.

@selfissued @msporny pe

[2020-01-07 03:02] csuwildcat commented on #25
If we wanted to support this, I think adding a new `vc` property to the assertions would be the best route. This way there's no change to the handling of the JWT variant of the signed proofs, and you could even include both if you wanted, to ensure that the maximum number of validating parties could process your linkage assertions.

[2020-01-07 03:10] msporny commented on #25
Just commenting since @tplooker tagged me (thanks Tobias!)... I have no strong opinions, being new to the conversation. Due to the way things are going, it's looking like the ecosystem is going to have to support both JWTs and VCs given that there is no clear choice between those two yet for the SSI use cases (that sort of thing takes half a decade or more to play itself out in the market). Suppor

[2020-01-07 03:18] tplooker opened #26 "DID to domain discovery - Using service endpoints"
This issue is related to a previous discussion in #18.

Say the following credential has been issued

[code]

For human readability purposes, credential processing software in some instances would benefit from being able to substitute the domain name if there is one associated to the issuers DID in a UI rendering for this credential. However, the current spec does not support DID to domain discove

[2020-01-07 03:28] OR13 commented on #26
We've had some discussion about this concept before, just today I was talking the Factom folks about this other direction. cc @Cahl-Dee

I think it would be very helpful to be able to put a domain name with a checkmark next to an VC issued by a linked did.

I'd be in favor of defining this behavior in the spec.

[2020-01-07 03:29] csuwildcat commented on #26
I really hope we can avoid encouraging atomic domain linkage entries like this in DID Documents, because the size bloat could get pretty significant. Personally, I feel a better route would be to codify a single Service Endpoint that could host any size list of domains the controlling entity wanted, signed with their DID keys, which could be fetched via a deterministic, inferentially knowable API,

[2020-01-07 03:31] csuwildcat commented on #26
@tplooker with Identity Hubs, all you would need to do is create a schema that defined how to represent a list of domains that have DID Configuration docs at their well-known endpoints, and you could inferentially know how to look them up via the schema/object based lookup Collections provide.

[2020-01-07 03:36] csuwildcat commented on #26
I'll take a little poetic liberty with a riff on a famous George Washington quote:

"It follows then as certain that night succeeds the day, that without a decisive Identity Hub (personal datastore) with a semantically based, inferentially knowable API, we can do nothing definitive, and with it, everything honorable and glorious."

[2020-01-07 03:39] OR13 commented on #26
So something like:

[code]

which in turn provides an a bunch of points to endpoints like:

[code]

As a DID Controller, use my hub to find all the domains I am authoritative for... then use well known configuration to confirm that the domain controller still wants me to be.

Another alternative is to embed the domain in the VC proof, that way you can always lookup its configuration... for example

[2020-01-07 03:43] tplooker commented on #26
@OR13 I was under the impression that the domain field in the a linked data proof was in-fact equivalent to the audience field in a JWT, i.e it sets the domain the proof is valid for? See [here](https://w3c-dvcg.github.io/ld-proofs/#terminology), the example in the definition of `mycorp-level3-access` lead me to believe that? Rather than the field meaning the domain of the issuer?

[2020-01-07 03:45] tplooker commented on #26
@csuwildcat I'm happy to add the indirection you suggest as an option, however if you are a simple issuer who owns a single domain, I think the service endpoint should take you straight to the domain you are wanting to express a link to?

[2020-01-07 03:51] OR13 commented on #26
@tplooker you are correct.

[code]

So pretty much the issuer can use this for whatever they want it seems.... when you resolve the well known did configuration and find their key or don't find their key, you can decide what to do. If you do find their key, you known that the did is controlled by the same entity.

[2020-01-07 04:00] OR13 commented on #26
In any case, this issue is about how you can go from a DID or a VC issued by a DID to a Domain.

There are clearly a couple ways.

1. You can services
2. You can use a hub
3. You can include a domain in a VC, and check that domain's configuration against the DID that issued it.

I think perhaps we should separate the concept of how to use well known did configuration with VCs, from the easier prob

[2020-01-07 04:08] OR13 commented on #26
You could extend your DID Document with a value `linkedDomains`... I think everyone would probably would rather use services though.

[2020-01-07 09:57] peacekeeper commented on #25
Just a quick thought that if someone wanted to go "Semantic Web all the way" here, then instead of defining a JSON-LD context for "domain", "iss", "exp", one could use the `owl:sameAs` property and do something like this:

[code]

Of course this makes everything more complicated, since implementers would have to support two entirely different document formats, not just two different types of proof

[2020-01-07 11:29] vongohren commented on #23
@tplooker yes, il close now :)

[2020-01-07 11:29] #23 closed

[2020-01-07 14:03] peacekeeper commented on #25
Also, watch out for potential conflicts around the "domain" term, it has one meaning as a JWT claim in the current did-configuration spec, but it has another meaning in LD Proofs.

[2020-01-07 16:04] csuwildcat commented on #16
What is the status of this? Doesn't seem like there is any impact on the spec as of now.

[2020-01-07 16:06] csuwildcat commented on #7
This has been added several places in the spec. Closing, but feel free to add a PR if further text additions are desired.

[2020-01-07 16:06] #7 closed

[2020-01-07 16:08] csuwildcat commented on #26
If you just had a Hub Service Endpoint, you would not need this specific sub-reference, consumers could just form a request to fetch this type of object, given the route can be deterministically inferred.

[2020-01-07 16:20] OR13 commented on #16
This is related to the verification discussion for VC Data Model... basically, we need to make the demo clearer, we should leave open until we resolve the proof format issues with VC Data Model.

[2020-01-07 16:27] csuwildcat commented on #16
I still don't understand the spec impact - are you saying we need to specify something on our side that deviates from whatever the DID spec itself describes?

[2020-01-07 16:31] OR13 commented on #16
no, we need to make sure we follow the did spec... and the vc data model spec:

https://www.w3.org/TR/vc-data-model/#proof-formats

https://www.w3.org/TR/vc-data-model/#proofs-signatures-0

[2020-01-07 16:31] OR13 commented on #16
The did spec uses the `authentication` and `assertionMethod` sections for proof purposes, we need to ensure they are both used correctly regardless of the proof format (JWT/ LD Proof)

[2020-01-08 00:36] OR13 commented on #26
I can't wait till we have a place to develop  edv / hubs stuff...

[2020-01-08 14:02] awoie commented on #25
Could you please elaborate the reason why not? I don't believe it is about increased complexity as JWTs are only base64url encoded payload + signatures. On the other hand, if you disagree, then introducing VCs (JWT/LD-Proofs) would add unnecessary complexity for all other implementers who are fine with the spec.

I would not object to support VCs but I'm asking the question why this is really need

[2020-01-08 18:18] OR13 commented on #25
@awoie

https://beta.sam.gov/opp/bfd1662d1ad9c317e4afae6544abff3a/view

[code]

Linking a DID to a well known corporate/government identifier seems an appropriate use case.

https://buyandsell.gc.ca/procurement-data/tender-notice/PW-19-00884577

[code]

This spec could check all 3 of DHS SVIPs listed technologies or just 1 of them.

Speaking for Transmute (seeking wider industry/government adoptio

[2020-01-08 20:47] awoie commented on #25
@OR13 I don't understand the argument as probably not every single component in the DHS system has to use these technologies and even if they have to, then this spec as it is would still include DIDs which addresses your DHS requirement. Again, I won't object as I believe we should experiment but I personally still don't see any good reason to increase the complexity of the spec.

[2020-01-08 21:05] peacekeeper commented on #25
I agree with @awoie that in order to satisfy the DHS project requirements, probably not every single part needs to be in JSON-LD. But at the same time I can also understand the desire from an implementer's perspective to have the same data model and proof format on all layers of a stack instead of mixing different ones.

[2020-01-15 18:01] Cahl-Dee commented on #25
Sorry for the delay, I have been OOO and up against a tight deadline. A dangerous mixture 😅

@awoie Being on the product side of things, my focus will always be delivering the most value with the least complexity possible. This is important for both internal stakeholders (code maintenance, training, internal tooling, etc) as well as external stakeholders (comprehension, implementation effort, etc)

[2020-01-15 18:17] awoie commented on #25
@Cahl-Dee That argument can also be made by the community who only wants to support JWT ;) . However, I'm ok with supporting VCs or more specifically LD-Proofs for the reason outlined above.

[2020-01-16 21:53] Cahl-Dee commented on #25
@awoie I absolutely agree! Either group could appropriately make the argument and therefore the spec should allow for either, in my opinion :-)

[2020-01-16 22:57] csuwildcat commented on #25
The issue with this is that the addition of assertion variant optionality forces new data format and toolchain the overwhelming majority of entities in the industry. The outcome will almost surely be a net reduction in the number of peers who will select to support write/read of the same variant of the assertion, which will degrade effective interop. The vast majority of companies already use basi

[2020-01-17 02:20] OR13 commented on #25
I have added some tests related to this here: https://github.com/decentralized-identity/.well-known/pull/27

[2020-01-17 10:34] awoie commented on #25
@OR13 @Cahl-Dee @csuwildcat @tplooker What if we make the JWT mandatory but have VCs (LD-Proofs or JWT) as optional. Conceptually, you could use .well-known without VCs. A closed ecosystem that wants to use that protocol would then have to create the JWT and put their LD-Proof VC under the domain and can decide to only check the LD-Proof VC. Same for JWTs. An open ecosystem would have to implement

[2020-01-17 14:41] csuwildcat commented on #25
I'm not following. Why, in the simple case of proving a signature over a signed string, can we not settle on one thing that is the most widely accepted. Notice I didn't say what the thing is, because I don't actually care about these silly format holy wars.

This is not about you, Oliver, but I have to be blunt and honest with some of the folks on this thread: we bent over backwards to seek feedba

[2020-01-17 21:08] OR13 commented on #25
We did our best to build a spec for a critical concept in our ecosystem "Linking Trusted Corporate and Government Identifiers to DIDs"

If this were truly a breaking change for major companies in the wild, we would have 0 chance of further improving it. We are lucky thats not the case, and there is AFAIK 0 adoption of the spec in its current form... thats about to change, thats the reason we are h

[2020-01-18 05:56] OR13 commented on #16
For lInked data proofs, the answer to this question is `assertionMethod`, IMO, that should also be the answer for the JWT Proof format. However, I suspect that won't work out of the box with libraries like did-jwt-vc.

@awoie for the JWT Proof Format, is the relationship between `assertionMethod` and `authentication` meant to be the same as it is for linked data proofs?

The way I read the spec: h

[2020-01-18 06:15] OR13 commented on #26
Thinking a bit more about this.

I'm holding a did:example:123... I resolve it and ask it's hub for all websites that it is authoritative for, I get back a list, and use the well known did configuration to check for the domain linkage assertion. lets assume that 50% of them are still valid, and 50% fail (webmaster removed the assertion or did controller lied).

What is the next step?

I could repo

[2020-01-18 11:51] csuwildcat commented on #25
After thinking about this, it feels like there are two options, which I hope work for folks like @Cahl-Dee (I sympathize with your desire for having your preferred format):

1. We are able to transition to a JWT-VC that still validates as a JWT would with little to no spec modification. (@OR13, I'll let you comment)
2. We do what @awoie said and make the existing JWT mandatory, but allow some flav

[2020-01-21 21:17] Cahl-Dee commented on #25
@csuwildcat I do sympathize with the resistance to making changes to something right after getting it out in the wild. Bad timing on my part of bringing this up. I appreciate you (and others) entertaining the discussion.

In the first option you list, you indicate a willingness to transition to VC's. In this scenario, implementers should simply rely on their VC infrastructure, namely, the [Verifie

[2020-01-21 21:45] OR13 commented on #25
@csuwildcat You may also want to review this thread: https://github.com/w3c/did-core/issues/131

The VC JWT format has a number of issues, which leads me to wanting to support both proof formats.

[2020-01-21 22:04] awoie commented on #25
@OR13 Can you please elaborate "number of issues"?

For JWTs, we need to define a convention for `kid`. However, key discovery is out-of-scope of the W3C VC spec. In the same way as key discovery is out-of-scope of the W3C VC spec for LD-Proofs.

Note, the LD-Proof spec as per https://w3c-dvcg.github.io/ld-signatures/ does not even define the property `verificationMethod` which I believe is used f

[2020-01-21 23:09] OR13 commented on #25
1. Restricting Keys

How do I restrict the set of keys that can be used to create a VC JWT? (assertionMethod is used in Linked Data Proofs)... I can't use `"use"` if the key is not encoded as a JWK: https://tools.ietf.org/html/rfc7517#appendix-A.1

2. Canonicalization

https://tools.ietf.org/html/rfc7515#section-7.2.1

[code]

https://www.npmjs.com/package/canonicalize

So is it ok that I can chan

[2020-01-21 23:18] awoie commented on #25
I think, the only question that is relevant is how do you determine whether you can trust the signature of the JWT, e.g., key from the authentication section in the DID Doc was used, and that is topic of the whole `kid` vs custom `did_verification_method` discussion. The answer is it is possible, we just have to agree on a convention.

Yes, you would receive a different credential. I don't see any

[2020-01-21 23:31] OR13 commented on #25
Sidetree treats them as different DIDS... IPFS gives them different hashes...

There are `authentication`, `assertionMethod`, `authorization`, etc... each of these might contain a key, or point to a key by id...

I would expect `assertionMethod` to be used the same way it is for Linked Data Proofs, but I don't believe it is.

Non the less, these things are all WIP.

Which is problematic for us try

[2020-01-22 00:07] awoie commented on #25
Sorry, I was talking about VCs only. If sidetree uses JWS and uses the hash/signature to uniquely identify data, then sidetree would probably have defined their canonicalisation algorithm to allow different implementations to be interoperable. But I don't want to go down this rabbit hole.

IMO, the DID specification should have language for the different proof purposes, e.g., `authentication`, `as

[2020-01-22 00:13] OR13 commented on #25
did:elem, did:github support all the same properties as did:key, and did:v1... but of course the spec doesn't have language to help others follow suite.

We need to get the did core spec caught up with its linked data context.... really badly.

[2020-01-25 18:28] OR13 commented on #25
Blocked by https://github.com/w3c/did-core/pull/156

[2020-02-03 21:12] OR13 opened #29 "Review Credential Format"
[code]

and

[code]

My understanding is that `credentialSubject` block might not need `domainLinkageAssertion` nesting, but that this is handy if you wanted to add other assertions to the same section...

We can easily make the structure of this credential whatever we like, I'd like to gather additional feedback on this issue.

[2020-04-13 04:45] csuwildcat commented on #25
It has now been 3 months since people opened this arguing to add LD VC support, which we froze completion and publishing of the spec for. We need someone to care enough to do a PR and add that support, or move forward without it, because people are starting to blame DIF for this not being finished, and that's not cool.

[2020-04-15 16:11] OR13 commented on #25
implemented

[2020-04-15 16:11] #25 closed

[2020-04-15 16:11] OR13 commented on #16
implemented `assertionMethod` is the one required.

[2020-04-15 16:11] #16 closed

[2020-04-15 16:11] OR13 commented on #29
stale closing

[2020-04-15 16:11] #29 closed

[2020-04-28 17:56] OR13 commented on #26
@csuwildcat this is the open issue that is related to your desire to embed related links in service endpoints.

[2020-04-28 17:59] OR13 commented on #26
There was recently a desire to link to domains from a did document... and then use the well known uri for confirming the link.

Here is an example of what a service defintion might look like:

Based on https://w3c.github.io/did-core/#example-2-minimal-self-managed-did-document

[code]

[2020-05-05 00:06] csuwildcat opened #32 "Add IANA sections for registration"
In order to get the spec registered with IANA, we will need to add sections like this to the doc: https://openid.net/specs/openid-connect-discovery-1_0-29.html#IANA

[2020-05-11 13:23] peacekeeper commented on #26
I know this has already been mentioned elsewhere, just also wanted to note here that `domain` is already defined in the Security Vocabulary JSON-LD context with different meaning: https://w3c-ccg.github.io/security-vocab/#domain

[2020-05-11 14:27] OR13 commented on #26
https://w3c-ccg.github.io/security-vocab/#domain

I suggest we not use the term `domain`... and instead define `domains` in did core, for the purposes of supporting linkage like this.

[2020-05-11 14:34] dlongley commented on #26
The definition for "domain" in the security vocabulary is perhaps a bit too functional at the moment, instead of declarative -- if people are coming to the conclusion that another term is needed (I disagree). Yes, "domain" *is* used to express a domain associated with a proof, but that fact does not mean that you can't use "domain" to associate one or more domains with a service as well.

[2020-05-12 16:06] OR13 commented on #26
@dlongley thanks! I have opened: https://github.com/w3c-ccg/security-vocab/issues/37

Very helpful to be able to use this term without creating a new one.

[2020-07-02 18:29] OR13 opened #33 "Potentially better solution for domain linking with owl:sameAs"
It has been discussed before, but there is now actual movement on it... see: https://github.com/w3c/did-core/issues/33

[2020-07-02 18:30] OR13 commented on #33
Action item is to report back here / update the spec... when / if a general purpose equivalence mechanism is added to did core.

[2020-07-20 18:53] OR13 opened #34 "did configuration, rename `domain` to `origin`"
- [x] Update Spec
- [ ] Update Demos

[2020-07-20 21:48] tplooker commented on #34
Can we get some rationale for this change I was unable to attend the I&D call this morning where this topic was apparently spoken about?

[2020-07-20 22:37] csuwildcat commented on #26
The DID Service Endpoint was defined in this PR: https://github.com/decentralized-identity/.well-known/commit/bb401f4dcaabab15b524a71fc612fb7f87ec5a8e

[2020-07-20 22:37] #26 closed

[2020-07-21 13:11] peacekeeper commented on #34
@tplooker my recollection of the discussion is that "domain" isn't completely accurate. Strictly speaking, this is not about linking a domain name to a DID, but about linking a web address or http URL to a DID. There was a lot of discussion on the call on what it means to "control a domain name". A domain name has Business, Technical, and Billing contacts, who could have the power to "control" the

[2020-07-21 13:13] peacekeeper commented on #34
One thing I don't understand is why the spec uses did:web examples. What's the point of linking from a domain name (origin) to a did:web based on the same domain name? Wouldn't a better example use another DID method such as did:key, did:elem, etc..?

[2020-07-21 16:23] OR13 commented on #34
@peacekeeper absolutely... did web is just the easiest did method to control. better examples / tests  / PRs welcome.

[2020-07-21 16:52] csuwildcat commented on #34
I changed the property and some terminology to include `origin` in the merged PR, but think we should leave the title of the spec and domain descriptive language in many areas, because when paired with origin language, it helps people understand the difference between web origins and domains (the former is rather arcane, so the latter helps ground it).

[2020-07-22 15:10] csuwildcat opened #37 "Expand DID Configuration to handle more DID-related config items"
As we look at how to make Credential Manifests discoverable, we have an opportunity to reuse the DID Configuration resource as the place to do that, as well as the things related to it. This might include a list of CMs (or references to them), details about issuance protocols (OIDC endpoints, DIDComms connection details, etc.). I think reusing this for more config stuff makes sense, given it is ap

[2020-07-22 15:17] OR13 commented on #37
The current resource structure:

[code]

Proposed structure:

[code]

[2020-07-22 15:23] OR13 commented on #37
potential issue is that the supported protocols implicitly apply to all linked dids...

[2020-07-22 15:24] OR13 commented on #37
Link to related hackmd...https://hackmd.io/QCJ3WDcLSXWp8t3hAQ387A

[2020-07-22 15:26] csuwildcat commented on #37
Good point - I wonder if there would need to be something in the issuance flow that specifies which DID the user wants to have a given cred issued from?

[2020-07-22 15:39] OR13 commented on #37
We can resolve this issue by adding a member of the `supported_protocols` objects called `linked_dids`... which tells you which linked did support which protocols... in the future... this kind of thing should be discoverable from the DID... not some well known centralized resource...

[2020-08-11 21:54] jmandel opened #39 "Which key is used to sign an assertion?"
here and elsewhere there is an implication but multiple key**s** are signing the assertions in the configuration file entries. But a single assertion can only be signed by a single key. Is the expectation of that multiple assertions should be made, one per signing key? (To prove possession of all signing keys?) Or is the idea that the did owner can pick any signing key and make an assertion with j

[2020-08-11 22:33] OR13 commented on #39
@jmandel great question... if the assertion is a VC... keys listed in the `assertionMethod` verification relationship should be used.

- https://www.w3.org/TR/vc-data-model/#proofs-signatures-0
- https://www.w3.org/TR/did-core/#assertionmethod
- https://www.w3.org/TR/did-spec-registries/#assertionmethod

Since the well known did configuration credentials are VCs... keys in the `assertionMethod` se

[2020-08-11 22:35] OR13 commented on #39
See also: https://identity.foundation/.well-known/resources/did-configuration/#did-configuration-resource-verification

Section 5:

[2020-08-11 22:36] OR13 commented on #39
The current spec does not support "Proof Sets or Proof Chains" (which are not supported by JWTs at all)... so each VC has only one associated `verificationMethod`.

[2020-08-12 17:42] jmandel commented on #39
Thanks -- so to be clear, is it "enough" (per the current spec, or its intent) to pick *any one* `assertionMethod` key and sign an assertion with that one? That will bind "the whole DID"? Or should relying parties care about *which* key was used?

[2020-08-12 22:54] p2-apple opened #40 "Older version of the spec is still hosted at https://identity.foundation/specs/did-configuration"
An apparently older version of the well known DID spec is still available at https://identity.foundation/specs/did-configuration/, potentially causing confusion. Should it be removed?

[2020-08-13 13:23] OR13 commented on #39
@jmandel RPs should not have any opinion about which key is used, similar to how they have no opinion about which JWK in the well known JWKs URI in OIDC is used :)

If the key used to issue the VC is not present in `assertionMethod` the VC is considered invalid / revoked.... so the issuer might consider how key rotation will impact credential lifetime... this is also similar to the decisions autho

[2020-08-13 16:14] p2-apple opened #41 "The JWT in example 2 uses "domain" in place of "origin""
The [example 2](https://identity.foundation/.well-known/resources/did-configuration/#example-2) contains one JSON-LD and one JWT example domain linkage credential. The JWT form uses `credentialSubject.domain` instead of `credentialSubject.origin` and may need to be updated.

[2020-08-13 16:19] OR13 commented on #41
@csuwildcat This is on you :)

[2020-08-13 18:36] csuwildcat commented on #41
Will be submitting a PR for this soon.

[2020-08-14 23:04] jmandel opened #42 "Relax body size limit (16 kilobytes or more)"
We're trying to publish a did-configuration.json file that uses a long-form DID -- see https://c19.cards/.well-known/did-configuration.json. The body is already larger than 8KB even with only a single `entry` in the array.

Is there a compelling reason to impose such a stringent limitation? (If so, we can probably drop parameters from the long-form DID in this case, but I'm anticipating that other

[2020-08-14 23:24] csuwildcat commented on #42
I will be removing the limit in a PR, as the file will expand to include other config values anyway,

[2020-08-15 00:08] OR13 commented on #37
protocol data model...

[code]

additional properties false, really don't want people to overload that object.

[2020-08-15 14:16] jmandel commented on #42
Thanks. Can you comment on the original motivation for imposing a (tight) limit, BTW?

[2020-08-17 18:51] csuwildcat commented on #37
Resolved:

- Other specs will define the schema-based objects this spec contains, and we need to define those objects before we start adding them to this spec
- Work on Credential Manifest spec
- Work on PE supported formats feature for inclusion as `supported_formats`

[2020-08-17 18:51] OR13 commented on #37
well known did configuration now blocked by:

https://github.com/decentralized-identity/presentation-exchange/issues/94

[2020-08-21 01:59] jmandel commented on #34
The current spec uses the term `origin` and even links to https://developer.mozilla.org/en-US/docs/Web/Security/Same-origin_policy for explanation -- but the values supplied are *not* origins, but rather bare domain names. This is confusing (and has already led to compatibility problems in testing).

[2020-08-31 19:03] OR13 opened #45 "Demo / Reference Implementation is nonfunctional"
Per the documentation here: https://github.com/decentralized-identity/.well-known/tree/master/resources/did-configuration

@csuwildcat indicated in DIF slack that he could not run the example / demo:

[code]

Possibly a windows issue.

[2020-08-31 19:07] OR13 commented on #45
I will attempt to resolve this issue when I get some spare cycles.

[2020-09-01 19:07] ipatka commented on #45
@csuwildcat I was unable to reproduce. From the `did-configuration` folder I did:

`npm ci`
`npm run start`

using node v12, on a Mac

Maybe `react-scripts` needs to be specified as a dev dependency explicitly? Or we could change package.json `start` script to
`node_modules/.bin/react-scripts start`

<img width="987" alt="Screen Shot 2020-09-01 at 3 05 17 PM" src="https://user-images.githubusercon

[2020-09-02 16:55] csuwildcat commented on #45
Yeah, I am thinking it's either some sort of dependency difference or an issue with references between OSes (I was using Windows, but can test with WSL Ubuntu as well)

[2020-09-03 15:47] OR13 commented on #45
I would guess this may be pathing related... I have been bitten by windows pathing issues my whole life as a developer.

@ipatka if you got this working, would you mind opening a PR to ensure that the demo is using data that conforms to the latest spec?

[2020-09-09 18:18] csuwildcat opened #46 "Add order concept to Service Endpoint origin array"
Add language to add order-based processing and importance to the service endpoint array.

[2020-09-28 04:18] Sakurann opened #47 "editorial - assertionMethod link broken"
A link to assertionMethod in [Section 5](https://identity.foundation/.well-known/resources/did-configuration/#did-configuration-resource-verification) is 404.
I think it should be https://www.w3.org/TR/did-core/#assertionmethod ?

[2020-09-30 02:55] Sakurann opened #48 "Definition of Origin"
Suggesting pointing definition of Origin to IETF's The Web Origin standard [https://tools.ietf.org/html/rfc6454#section-3.5](https://tools.ietf.org/html/rfc6454).
This would not only make this well-known specification more stable, but also clarify that the specification applies to subdomains, which could be made more explicit in the spec.

[2020-10-14 23:35] mudiali opened #49 "Make expirationDate in Domain Linkage Credential optional"
Re: https://identity.foundation/.well-known/resources/did-configuration/#domain-linkage-credential

Currently, the `expirationDate` member is a MUST within the Domain Linkage Credential which does not make sense for the entities who do not want to manage the well known document's lifecycle. Companies may want to add the document and just keep it there without having to worry about monitor the stat

[2020-10-15 12:57] OR13 commented on #49
I'm not sure a never expiring domain link credential is a good security idea.

Consider that this approach already relies on HTTPs with TLS certs that expire.

If you want it to "never expire"... set the date to 2090 or some time very far in the future.

[2020-11-05 20:18] OR13 opened #51 "Should well known did configuration support issuer styling"
see https://github.com/decentralized-identity/credential-manifest/issues/19#issuecomment-722566890

[2020-11-05 20:18] OR13 commented on #49
I am closing this, its a bad idea from a security perspective, and it makes interop with VC formats harder.

[2020-11-05 20:18] #49 closed

[2020-11-05 20:19] OR13 commented on #48
@csuwildcat @tplooker didn't we do this?

[2020-11-05 21:40] TomCJones commented on #51
This is part of the problem I have with DID taking some of the generic UX issues into this spec. If this is a UX issue it belongs at a higher level than DID spec.

[2020-11-06 14:58] OR13 commented on #51
this is the repo for https://identity.foundation/.well-known/resources/did-configuration/

which is a higher level spec then did core.

[2020-12-04 14:59] OR13 opened #54 "Move equivalent credential out of this spec"
@tplooker I would like to pull the "LinkedIdentifier" credential out of this spec, and into its own one, so it can be made more generic, and used outside of HTTP / well known endpoints.

Can you commit what you have somewhere so we can adopt support for it in this spec?

Prefer you open a CCG work item for it.

[2020-12-04 15:03] OR13 commented on #48
I think this was done here: https://identity.foundation/.well-known/resources/did-configuration/#origins

closing

[2020-12-04 15:03] #48 closed

[2020-12-04 15:04] OR13 commented on #51
IMO, no this spec should only include links to other specs like the CM / PE... we should not embed their objects here.

[2020-12-04 15:04] #51 closed

[2020-12-04 15:05] OR13 commented on #47
@Sakurann can you open a PR to fix this?

[2020-12-04 15:05] OR13 commented on #46
this is not relevant to this spec / no details... closing.

[2020-12-04 15:05] #46 closed

[2020-12-04 15:06] OR13 commented on #45
demo was removed

[2020-12-04 15:06] #45 closed

[2020-12-04 15:07] OR13 commented on #42
I believe the limit is now the max json object size. @jmandel can you comment and close if this is addressed?

[2020-12-04 15:07] OR13 commented on #41
Closing, there are currently no JWT examples / they were way out of date.

[2020-12-04 15:07] #41 closed

[2020-12-04 15:08] OR13 commented on #40
ping @csuwildcat suggest we make that a redirect to the latest version of the spec... not a copy.

[2020-12-04 15:09] OR13 commented on #39
Keys listed in the `assertionMethod` verification relationship should be used to issue verifiable credentials, keys in the `authentication` relationship should be used for verifiable presentations. Both of these are defined in the vc data model spec, not this one. closing.

[2020-12-04 15:09] #39 closed

[2020-12-04 15:10] OR13 commented on #37
I would only be in favor of adding URLs at this time, this issue is going to stick aroudn until we decide which URLs to add or we close this issue :)

[2020-12-04 15:10] OR13 commented on #34
we did this.

[2020-12-04 15:10] #34 closed

[2020-12-04 15:11] OR13 commented on #33
ping @tplooker now is your chance to generalize this, I am closing this issue in favor of the more recent: https://github.com/decentralized-identity/.well-known/issues/54

[2020-12-04 15:11] #33 closed

[2020-12-04 15:11] OR13 commented on #32
@csuwildcat have you registered `.well-known/did-configuration.json` with IANA?

[2020-12-04 15:13] jmandel commented on #42
Thanks -- "a tolerance set by the implementer" (current language) avoids the hard limit.

[2020-12-04 15:13] #42 closed

[2020-12-04 17:02] OR13 opened #56 "Fix Context Hosting for DID Configuration"
Lets make the URL look nice.... either:

https://identity.foundation/.well-known/did-configuration/v1

or

https://w3id.org/did-configuration/v1

[2020-12-04 17:03] OR13 commented on #56
ping @tplooker @csuwildcat

[2020-12-06 02:31] tplooker commented on #54
Here is a link to what I have documented to date https://hackmd.io/IZgDPFy6QiaZXbUk7Ik87Q

And an active gist under my GH showing the bi-directional linkage of a DID to a github account https://gist.github.com/tplooker/ca8c147906764afb26d95170900c560c

I believe @dmitrizagidulin had some commentary that he would like to use alsoKnownAs instead of sameAs?

[2020-12-07 15:24] OR13 commented on #54
I propose we create a seperate spec for the generic "indentifier link" credential in the ccg, and then use that credential here.

[2020-12-15 03:55] Sakurann commented on #47
Sorry, can't seem to find a markdown file for the spec text?

[2020-12-15 11:59] bumblefudge opened #58 "Minor Editorial tweaks: Update Status to "Approved Deliverable" and add "Known Implementations""
1.) The status in the spec still reads "DIF Working Group Approved Draft" but the SC approved it. The DIF Charter official title for this status is "Approved Deliverable". I'm happy to dive into the ReSpec and open the PR myself, if the chairs prefer.

2.) Likewise, there was some discussion on Slack about adding a "Known Implementations" section with links to live .wellknowns.  For now, I added t

[2020-12-15 14:25] TallTed commented on #47
@Sakurann --

The spec text isn't in Markdown, [it's in HTML](https://github.com/decentralized-identity/.well-known/blob/master/resources/did-configuration/index.html).

I was unable to find the link you said was 404. Possibly it's already fixed.  Can you (for this and future similar issues) also provide the actual URL that is 404, as well as its (approximate) location in the document?

[2021-02-04 08:45] Sakurann commented on #47
I think it's fixed now and issue can be closed.
Will specify in the future, thanks.

[2021-02-04 17:53] TallTed commented on #47
@Sakurann -- You should have a CLOSE button available for this issue.

@OR13, @bumblefudge, @dleve123 may also be able to close.

I cannot.

[2021-03-15 17:03] OR13 opened #63 "Add Path Based Option for DID Config"
Similar to how did web supports path based routing, it should be possible to say that a URL not an origin... is linked to a DID...

this would allow websites like github pages and any non DNS admins to use the spec.

[2021-03-15 17:35] bumblefudge commented on #63
I vaguely remember at one discussion of DID:Web (maybe the IIW session on it?), someone mentioned domain-only as being a feature, not a bug, in that it provided a certain reduced scope (I can't remember if for parsing or for disambiguation) and that domains typically have security guarantees that paths don't.  I suspect bringing in "path-based mode" might be a major change, and maybe origin-only m

[2021-03-15 18:16] OR13 commented on #63
@bumblefudge did web supports path based DIDs.... http://did.actor/

currently did config does not support anything but web origins... meaning vendors who are service providers will be doing this:

customer-1.vendor1.example
customer-2.vendor1.example

customer-1.vendor2.example
customer-2.vendor2.example

instead of this:

vendor1.example/customer/1
vendor1.example/customer/2

vendor2.example/cus

[2021-03-15 19:13] bumblefudge commented on #63
Oh wow, thanks for explaining! Didn't realize this. Not sure what the future life of this spec is, should we put it on the agenda for some future meeting at ID WG? is a version already cut?

[2021-03-15 22:12] tmarkovski commented on #63
I assumed that paths can just be used with the current spec even, so thanks for clarifying. Definitely worth adding language to support paths.

[2021-04-03 14:23] sondreb opened #65 "Sample code or library to create DID Configuration (VP) from VC?"
The sample provided on the foundation website, is there any sample code or library that can be used to derive this "presentation" from the VC JWT that is included?

https://identity.foundation/.well-known/did-configuration.json

Do I have to manually map this in my own code, or does there exists something I could use?

I'm basically doing a software where when you set it up, you supply your DID an

[2021-04-03 15:03] csuwildcat commented on #65
I believe @OR13 may have something for this. I'll look around myself, and create one if needed.

[2021-04-03 17:17] OR13 commented on #65
Assuming you use the universal wallet interop spec, or similar...

[code]

https://github.com/transmute-industries/verifiable-data/blob/main/packages/universal-wallet-fastify-plugin/src/getSuiteForKey.ts

We've not finished the plugin yet, but this is essentially how to do it.

[2021-04-04 16:55] sondreb commented on #65
Thanks for the comments, so if I understand this correctly, the linked_dids is list of VCs. In the example on identity.foundation website, the JWT is included in combination with the VC as JSON.

What I don't understand fully is that the "origin" in the JSON returned contains "http://" prefix, while the payload of the JWT does not contain the URL prefix. Is this intentional or by mistake? In my co

[2021-04-04 17:05] csuwildcat commented on #65
@sondreb the `https:` scheme is part of the origin, and `https:` scheme paired with the authority portion of a domain address form a Secure Context: https://developer.mozilla.org/en-US/docs/Web/Security/Secure_Contexts. The spec requires the linkage to be an `https:` prefixed-origin to ensure the assertions have the protections of a Secure Context.

[2021-04-04 17:41] sondreb commented on #65
Thanks, I also noticed that the specification gives an example for "Compact JWT Domain Linkage Credential", this requires an header with "kid". The example in the documentation contains "kid", but the JWT provided by [here](https://identity.foundation/.well-known/did-configuration.json) does not have "kid" in the JWT header. It's not compliant with the latest specification, right?

I will modify m

[2021-04-04 20:59] csuwildcat commented on #65
@sondreb that example may be wrong, I'll have to take a look

[2021-04-04 21:46] csuwildcat commented on #65
@sondreb the verbose example JSON object in the spec is errantly missing the `https:` scheme in front of the origin domain - would you care to submit a PR to correct it?

[2021-04-04 23:14] sondreb commented on #65
I would love to do a PR, but I don't have the private key for `did:key:z6MkoTHsgNNrby8JzCNQ1iRLyW5QQ6R8Xuu6AA8igGrMVPUM`.

[2021-04-04 23:46] csuwildcat commented on #65
@sondreb I thought it was just an errant example paste error, vs the actual signed example JWT. If that's the case, I believe @OR13 has what's needed to update it.

[2021-04-20 19:13] letmaik opened #67 "JWT inconsistencies: .json file extension and spec wording"
This spec supports JSON-LD as well as JWT as format for the domain linkage credential resource. However, there are a few inconsistencies:
- The filename is always `.json`, which seems wrong for JWT, since the media type would be `application/jwt` and not `application/json` and most web servers would by default send the incorrect media type in the case of JWTs.
- Section 3 of the spec starts with "

[2021-04-20 19:18] OR13 commented on #67
the file is a JSON file, that contains VCs which may be encoded as compact JWT or JSON-LD.

[2021-04-20 19:18] OR13 commented on #67
for example: https://identity.foundation/.well-known/did-configuration.json

[2021-04-20 19:30] letmaik commented on #67
Oh, you're absolutely right, my bad :)

[2021-04-20 19:30] #67 closed

[2021-08-25 05:08] dwaite opened #74 "Spec should not be hosted under https://identity.foundation/.well-known"
Per the RFC, data within /.well-known/ is not meant to be a new general namespace, but rather used for service discovery. Hosting non-metadata information such as the specification within /.well-known/ is outside the spirit of the RFC - which is a bit odd for a specification trying to define usage of well-known for a particular purpose.

Generally, if you aren't willing to publish an RFC about a r

[2021-08-25 11:40] tmarkovski commented on #74
I agree with you. I also don't think this was done intentionally, just a side effect of the repository name and how GitHub pages work with published content 😀

[2021-12-03 12:52] RieksJ opened #76 "introductory texts"
I don't think of myself as a newbie to DIDs (VCs, and SSI stuff), but nevertheless I find it difficult to grasp the ideas behind this (and some other) repo's. It would be helpful if the README could link to, or itself provide texts that help readers understand the gist of what's being done here without assuming them to already know what's there. It's ok to refer to similar texts (in other repo's)

[2022-08-04 13:43] nklomp opened #82 "did-key does not support services"
The examples in the spec use did:key everywhere, but did:key only supports verificationMethod/keys and not services.

So the examples in the spec cannot satisfy the actual requirements from the spec as you cannot get the service with the origin in the DID.

Probably makes sense to use another DID method for the examples as to not confuse people.

[2022-08-04 14:06] OR13 commented on #82
I assume this is referring to the well known did configuration? AFAIK, services are not a requirement for that.

[2022-08-04 14:10] OR13 commented on #82
could add example: https://did.actor and then use it here... PRs welcome.

[2022-10-03 13:36] Muthurajj opened #84 "what is the purpose of DID.configuration.json?"
what is the purpose ?

what is  DID.configuration.json?

[2022-10-03 13:40] csuwildcat commented on #84
The purpose is to create a bidirectional link between DIDs and Web Origins.